.minhas-skills h2 {
  text-align: center;
  margin-bottom: 60px;
}

.lista-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
}

.lista-skills li {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: var(--cor-4);
}

.lista-skills li img {
  margin: auto;
}

@media (max-width:800px){
  .lista-skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

