.sobre h2{
  text-align: center;
  margin-bottom: 60px;
}

.sobre p{
  max-width: 42ch;
  margin-bottom: 20px;
} 

.sobre-grid{
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.sobre-grid img{
  margin: auto;
}

@media (max-width:1000px){
  .sobre-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}