.font-1-pp{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.font-1-pp-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.font-1-pp-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.font-1-p{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.font-1-p-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.font-1-p-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.font-1-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.font-1-m-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.font-1-m-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.font-1-mm{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.font-1-mm-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
}
.font-1-mm-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.font-1-g{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.font-1-g-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.font-1-g-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.font-1-gg{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
}
.font-1-gg-m{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
}
.font-1-gg-b{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 62px;
}